@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  scroll-behavior: smooth;
}

.smooth-menu {
  transition: 1s ease;
}

.smooth {
  transition: 0.25s ease;
}

img {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

*::selection{
  background-color: #6fad45;
  color: #fff;
  text-shadow: 0px 0.1em #000;
}

.smooth-after::after {
  transition: 0.25s ease;
}

.hover-bg:hover {
  background-color: #f0f7ec;
  background-size: 26px 26px;
  background-image: repeating-linear-gradient(0deg, #cde2bebc, #cde2bebc 1.3px, #f0f7ec 1.3px, #f0f7ec);
}

.hover-bg-odd:hover {
  background-color: #cde2bebc;
  background-size: 26px 26px;
  background-image: repeating-linear-gradient(0deg, #f0f7ec, #f0f7ec 1.3px, #cde2bebc 1.3px, #cde2bebc);
}


.grid-bg {
  background-image: linear-gradient(#c1c1c111 1.8px, transparent 1.8px), linear-gradient(to right, #c1c1c111 1.8px, #fdfdfe 1.8px);
  background-size: 36px 36px;
}

.text-shadow {
  text-shadow: 0.1em 0.1em #000;
}

/* for Dark mode */
@media (prefers-color-scheme: dark) {
  .hover-bg-odd:hover {
    background-color: unset;
    background-size: unset;
    background-image: unset;
  }
  
  .hover-bg:hover {
    background-color: unset;
    background-size: unset;
    background-image: unset;
  }

  *::selection{
    color: #040D12;
    text-shadow: 0px 0.1em #d6d6d6;
  }

  .grid-bg {
    background-image: linear-gradient(#54545408 1.8px, transparent 1.8px), linear-gradient(to right, #54545408 1.8px, #00000000 1.8px);
    background-size: 36px 36px;
  }
  
}

.clippy {
  clip-path: polygon(0 0, 100% 0, 100% 25%, 0 25%);
}